*
    // margin: 0
    // padding: 0
    // color: white
    
body
    // background: green radial-gradient(black,green)
    // text-align: center
    // height: 100vh
h1
    // font-size: 20px
    // text-align: center
.tasks 
    // border: 1px solid #000
    &__list

        // margin: 0
        // padding: 0
        // list-style-type: none
        
        
    
    &__item 
        // background: black
        padding-right: 20px
        transition: 1s all
        
            
            // background: red
            
    
    &__field 
        width: 100%
        min-height: 60px
        max-height: 60px
        outline: none
        border: 2px solid transparent
        
    
    &__btn 
    &__priority-btn
        margin-bottom: 20px
        // background: gold
    &__field-wrapper
        margin-top: 20px
.close-span
    position: absolute
    top: 50%
    right: 10px
    transform: translateY(-50%)
    cursor: pointer




    